<ng-container *ngIf="{ form : {} } as vars">

    <div style="position: absolute; background-color: white; border: 1px solid black; width: 200px; height: 200px; margin-left: 20px; margin-top: 20px;"
        *ngIf="terminal.prompts.ack_game" class="ack_game">
        {{ terminal.prompts.ack_game[0].message }}
        <button (click)="terminal.respond('','ack_game')"> ok </button>
    </div>

    <div class="commodities">
        <span
            style="display: inline-block; width: calc(-7px + 100% / {{game.Commodities.length}}); margin-right: 3px; border: 1px solid black; background-color: grey;"
            *ngFor="let c of game.Commodities; let i = index" class="commoditity">

            {{c.name}}

            <br>

            {{ c.price | number }}

        </span>
    </div>

    <div class="clear: both" class="players">
        <div *ngFor="let player of game.players" class="player">

            <div style="{{ game.turn==player ? 'font-weight:bold' : '' }}">

                {{ player.name }} : ${{ player.cash | number }} cash, ${{ player.worth | number }} net worth

                <button
                    *ngIf="game.turn==player && game.turn.terminal.promptedFor({ name: 'stock-ticker-action', value: 'roll-dice' })"
                    (click)="rollDice()">

                    roll dice

                </button>

            </div>

            <div *ngFor="let c of game.Commodities" [attr.data-commodity]="c.name"
                style="display: inline-block; width: calc(-7px + 100% / {{game.Commodities.length}}); margin-right: 3px; border: 1px solid black; background-color: grey;"
                class="asset">

                <span class="units-held"> {{ player.assets[c.name] }} </span>

                <div *ngIf="game.turn==player && (canBuy(c.name,1) || canSell(c.name,-1)) ">

                    <input #i type="range" [min]="-player.assets[c.name]||0"
                        [max]="player.cash / game.commodities[c.name].price" step="500">

                    <div>

                        <button *ngIf=" canBuy(c.name, i.value) " (click)="buy(c.name,i.value)">
                            buy
                        </button>

                        <button *ngIf=" canSell(c.name, i.value) " (click)="sell(c.name,i.value)">
                            sell
                        </button>

                        <span class="player-commodity-units-owned"> {{ i.value.startsWith('-') ? i.value.replace('-','')
                            :
                            i.value }} </span>

                    </div>

                </div>

            </div>
        </div>
    </div>

</ng-container>