<div id="results">
    <div class="game-over" *ngIf="client.ServiceEnded"> Game Over!! </div>
    <div class="won" *ngIf="client.Won"> You won !! </div>
    <div class="won" *ngIf="client.Lost"> You lost! </div>
</div>

<div style="display: flex; flex-direction: row;">
    <form *ngIf="game" #form="ngForm" style="flex:1">
        <table id="state">
            <thead id="stocks">
                <caption>stocks</caption>
                <tr>
                    <td colspan=3></td>
                    <th *ngFor="let stock of StockTicker.STOCKS"> {{stock}} </th>
                </tr>
            </thead>

            <thead id="prices">
                <caption>prices</caption>
                <tr>
                    <td colspan=3></td>
                    <th *ngFor="let stock of StockTicker.STOCKS"
                        [attr.data-sign]="game.rolls.at(-1)?.stock==stock ? game.rolls.at(-1)?.movement!>0 ? 1 : -1 : 0"
                        [class.last]="game.rolls.at(-1)?.stock==stock">
                        {{game.prices[stock]}}
                    </th>
                </tr>
            </thead>

            <tbody id="players">
                <caption>players</caption>
                <tr [class.turn]="game.player==player" *ngFor="let player of game.players">
                    <td class="name"> {{player.name}} </td>
                    <td>{{player.cash}}</td>
                    <td>{{player.worth}}</td>
                    <td *ngFor="let stock of StockTicker.STOCKS" class="shares">
                        {{player.stocks[stock]}}
                    </td>
                </tr>
            </tbody>
            <tfoot id="trades" *ngIf="terminal().prompts.trades && game.player.stocks">
                <tr>
                    <td colspan=3> <button (click)="SubmitTrade()"> Submit Trade </button> </td>
                    <td *ngFor="let trade of trades">
                        <div>
                            <button *ngFor="let tt of StockTicker.TRADE_TYPES"
                                [disabled]="tt=='sell' && !game.player.stocks[trade.stock]"
                                (click)="trade.type!=tt && ( (trade.type=tt) && (trade.shares=0) )"
                                [class.selected]="trade.type==tt"> {{tt}}
                            </button>
                        </div>

                        <input (ngModelChange)="testTrade(trade)" type="number" name="shares" [(ngModel)]="trade.shares"
                            [min]="0"
                            [max]="trade.type=='buy' ? game.player.cash / game.prices[trade.stock] : game.player.stocks[trade.stock]">
                    </td>
                </tr>
            </tfoot>
        </table>
    </form>
    <table id="history" *ngIf="game" style="min-width: 300px; height: 100%; overflow: auto;">
        <caption> roll history </caption>
        <thead>
            <tr>
                <th> player </th>
                <th> stock </th>
                <th> movement </th>
                <th> dividend </th>
            </tr>
        </thead>
        <tr *ngFor="let roll of game.rolls; let index=index">
            <td> {{ game.players[ index % game.players.length ].name }} </td>
            <td> {{roll.stock}} </td>
            <td> {{roll.movement}} </td>
            <td> {{roll.dividend}} </td>
        </tr>
    </table>
</div>