:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

table {

    &,
    tbody,
    caption,
    tr,
    th,
    td {
        border: 1px solid black;
    }
}

.results {}

.wrapper {
    flex: 1;
    display: flex;
    flex-direction: row;

    .history {
        height: 100%;
        overflow: auto;

        .history {}
    }

    .state {
        flex: 1;

        th,
        td {
            text-align: left;
        }

        .prices {
            .last {
                font-weight: bold;
            }

            [data-sign="-1"] {
                background-color: red;
            }

            [data-sign="1"] {
                background-color: green;
            }
        }

        .trades button.selected {
            font-weight: bold;
            background-color: burlywood;
        }
    }

}